<app-content-header></app-content-header>
<section class="content container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box animated fadeIn medium-fast">
                <div class="box-header with-border">
                    <button type="button" class="btn btn-success" (click)="newSupplier()" data-toggle="modal" data-target="#modal-default">
                        Agregar proveedor
                    </button>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="box-tools">
                        <div class="input-group input-group-md pull-right" style="width: 300px; margin-bottom: 10px">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sup of dtSuppliers">
                                <td>{{ sup.Nombre }}</td>
                                <td>{{ sup.Direccion }}</td>
                                <td>{{ sup.Telefono }}</td>
                                <td><button type="button" (click)="editSupplier(sup)" class="btn btn-success btn-flat btnStyles" data-toggle="modal" data-target="#modal-default">Editar</button>
                                    <button type="button" (click)="deleteSupplier(sup)" class="btn btn-danger btn-flat btnStyles">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- ******************* SECCION DEL MODAL ****************************** -->
            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">{{ titleModal }}</h3>
                            </div>
                            <form role="form" (ngSubmit)="guardar()" #forma="ngForm" novalidate="">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="form-group col-xs-6 has-danger" [ngClass]="{'ng-invalid': nombre.errors?.required }">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" name="nombre" [(ngModel)]="supplier.nombre" required maxlength="150" autocomplete="off" #nombre="ngModel">
                                            <p>
                                                <span *ngIf="nombre.errors?.required" class="label label-danger">Nombre es requerido</span>
                                            </p>
                                        </div>
                                        <div class="form-group col-xs-6 has-danger" [ngClass]="{'ng-invalid': telefono.errors?.required }">
                                            <label>Telefono</label>
                                            <input type="number" class="form-control" name="telefono" [(ngModel)]="supplier.telefono" required maxlength="150" autocomplete="off" #telefono="ngModel">
                                            <p>
                                                <span *ngIf="telefono.errors?.required" class="label label-danger">Telefono es requerido</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group" [ngClass]="{'ng-invalid': direccion.errors?.required }">
                                        <label>Direccion</label>
                                        <textarea class="form-control" rows="3" placeholder="Especifique la direccion ..." name="direccion" [(ngModel)]="supplier.direccion" #direccion="ngModel" required></textarea>
                                        <p>
                                            <span *ngIf="direccion.errors?.required" class="label label-danger">Direccion es requerido</span>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <label>Pais</label>
                                            <select name="pais" [(ngModel)]="supplier.idPais" class="form-control" required>
                                                <option value="">Seleccione el pais</option>
                                                <option *ngFor="let pais of paises" [value]="pais.Id">
                                                    {{ pais.Nombre }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="button" id="closeBtn" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button [disabled]="!forma.valid" type="submit" id="saveBtn" class="btn btn-info pull-right">Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- ******************* FIN SECCION DEL MODAL ****************************** -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->