<app-content-header></app-content-header>
<section class="content container-fluid animated fadeIn medium-fast">
    <div id="awesomeImg">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <img id="customImg" src="assets/img/logo.jpg">
    </div>
    <p class="customP">
        Generic Pharma (gp), s.a, se fundó en Nicaragua en el año de 1995 como una compañía representante
        y comercializadora de productos farmacéuticos para uso humano y veterinario y enfocado en el desarrollo de
        marcas y líneas genéricas de calidad.

        Desde su fundación los procedimientos de distribución, compra y venta de productos han sido almacenados en
        documentos y plantillas. Esto ha resultado en archivos de materiales crecientes que se necesitan almacenar
        dentro de una base de datos de búsqueda y verificación de productos para que con ello permanezca útil y
        accesible al cliente. Mediante el actual proyecto se permitirá recibir las peticiones de los productos,
        verificar su disponibilidad, controlar los movimientos dentro/fuera de las bodegas, dándole facilidades a la
        empresa en su gestión de tareas y hacer más sencillo el proceso de facturación.
    </p>
</section>