<div class="login-box">
    <div class="login-logo">
        <a href=""><b>GenericPharma</b>App</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Ingrese sus credenciales para iniciar sesion</p>

        <form action="" method="post">
            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Clave">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <button type="submit" (click)="signIn()" class="btn btn-primary btn-block">Iniciar sesion</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <a [routerLink]="['login']">Olvide mi contraseña</a>
    </div>
    <!-- /.login-box-body -->
</div>